<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRX Magazine</title>
</head>
<body>

<header>
    <div class="top-bar">
        <div class="navbar-logo"></div>
        <h1 class="navbar-titulo">
            <a class="navbar-title-link" href="#">
                <img class="navbar-logo-wordmark" src="" alt="CRX Magazine">
            </a>
        </h1>
        <div class="navbar-buttons">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
</header>
<main>
    <div class="top-articles">
        <div class="main-articles">
            <section>
            </section>
        </div>
        <div class="bottom-articles"></div>
    </div>
    <div class="all-articles"></div>
</main>

<footer></footer>

</body>
</html>